.idea/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/

target

src/main/resources/ignored-directory/
src/main/resources/ignored-directory/ignored-file-in-ignored-dir.txt
src/main/resources/ignored.txt
src/main/resources/ignored-*.txt

